extends _layout
block styles

    link(href="static/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet" href="./styles/profile.css")
block scripts
    script(src="static/scripts/edit-profile.js")
block container
    div.row
        div.col-lg-3.col-sm-6
        div.card.hovercard
            div.cardheader
            div.avatar
            img.img-circle.img-shadow(alt='', src='./images/profile-picture.png')
            div.info
            div.title
                a.animated.fadeInUp(href='/profile') #{user.username}
            div.capitalize.desc #{user.firstname}
            div.desc #{user.lastname}
            div.desc #{user.email}
            div.bottom
            a.btn-links.btn-primary.btn-twitter.btn-sm(href='https://twitter.com/')
                i.fa.fa-twitter
            a.btn-links.btn-danger.btn-sm(rel='publisher', href='https://plus.google.com')
                i.fa.fa-google-plus
            a.btn-links.btn-primary.btn-sm(rel='publisher', href='https://facebook.com')
                i.fa.fa-facebook
            a.btn-links.btn-warning.btn-sm(rel='publisher', href='https://youtube.com')
                i.fa.fa-youtube
        div
            div.list-group.profile-tours.col-md-6.col-lg-6.col-sm-12.col-xs-12
                a.list-group-item.active  Published Tours
                each offer in user.userOfferTours
                    a.list-group-item= offer.tourTitle
            div.list-group.profile-tours.col-md-6.col-lg-6.col-sm-12.col-xs-12
                a.list-group-item.active  Bought Tours
                each bought in user.userBoughtTours
                    a.list-group-item= bought.tourTitle
    div.btn-carry
        a.btn.btn-warning.btn-xs.edit-profile-btn.buttons-for-edit(href="#") Edit profile
        a.btn.btn-success.btn-xs.save-changes-btn.buttons-for-edit(href="#") Save changes

