<div class="notifications">
    <p><a href="/tours/{{data.tourId}}">{{headline}}</a> on {{date}}</p>
    <p>Destination {{city}}, {{country}}</p>
    <p>Created by <a href="/profile/{{creator}}">{{creator}}</a>
</div>